{% extends 'podcasts/base.html' %}
{% block content %}

<div class="row">
    <h2>Select Tier Level</h2>
    {% for object in object_list %}
    <div style="border: 1px solid red;" class="col s12">
        <div class="row">
            <h3>{{ object.membership_type }}</h3>
            <p>Price: £{{ object.price }}<small>/month</small></p>
            <h5>Included in tier</h5>
            <ul>
                {% for podcasts in object.podcasts_set.all %}
                <li>{{ podcasts.title }}</li>
                <li>{{ podcasts.description }}</li>
                {% endfor %}
            </ul>

            <!-- Only show button on tiers available to user -->
            {% if object.membership_type != 'Basic' %}
            <form method="POST" action="{% url 'memberships:select' %}">
                {% csrf_token %}

                <!-- If the membership selected isn't equal to the current membership -->
                {% if object.membership_type != current_membership %}
                <button class="btn">Select Tier</button>
                {% else %}
                <small>This is your current membership</small>
                {% endif %}
                <input type="hidden" name="membership_type" value="{{ object.membership_type }}">
            </form>
            {% endif %}

        </div>
    </div>
    {% endfor %}
</div>

{% if messages %}

<style type="text/css">
    div.messages {
        background-color: #ff6b6b;
        color: #f7fff7;
    }

    ul.messages {
        list-style-type: none;
    }
</style>

<div class='messages'>

    <ul class="messages">
        {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}" {% endif %}>
            {% if "html_safe" in message.tags %}{{ message|safe }}{% else %}{{ message }}{% endif %}</li>
            {% endfor %}
    </ul>

</div>
{% endif %}

{% endblock content %}