body,
html {
    background-color: #A4B4AC;
    font-family: 'Merriweather', serif;
}

.color_text {
    color: #F6EDD9;
}

nav {
    background-color: transparent;
    box-shadow: none;
    color: #000;

    border-bottom: 1px solid black;
}

.nav_item a {
    color: #000 !important;
}

.nav_center_blurb {
    line-height: 14px;
    font-size: 13px !important;
    top: 25%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    /* transform: translateY(50%) !important; */

}